# EasyGym Automated SMTP Mailer Credentials (Google Gmail)
VITE_SMTP_HOST=smtp.gmail.com
VITE_SMTP_PORT=587
VITE_SMTP_USER=your_email@gmail.com
VITE_SMTP_PASS=your_app_password
VITE_SMTP_SENDER_NAME="EasyGym Verification Mailer"

# EasyGym MongoDB Atlas Connection String
MONGODB_URI="mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/easygym?retryWrites=true&w=majority"
VITE_MONGODB_URI="mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/easygym?retryWrites=true&w=majority"
